/* https://yarduon.com */
.medium-circle,
.social {
  width: 10vh;
  height: 10vh;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.circle {
  border-radius: 100%;
}

.big-circle {
  width: 50vh;
  height: 50vh;
}

.small-circle {
  width: 7vh;
  height: 7vh;
}

.darker-black {
  background-color: rgb(32, 31, 31);
}

.black {
  background-color: #292929ff;
}

.white {
  background-color: rgb(248, 247, 247);
}

.orange-border {
  border: 2vh solid #f0a85dff;
}

.orange-bottom-line {
  border-bottom: 0.8rem solid #f0a85dff;
}

.orange-bottom-line-small {
  border-bottom: 0.3rem solid #f0a85dff;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.mano-negra {
  font-family: "Mano Negra";
}

.reem-kufi {
  font-family: "Reem Kufi";
}

.black-text {
  color: #292929ff;
}

.white-text {
  color: white;
}

.orange-text {
  color: #f0a85dff;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.huge-fontsize {
  font-size: 4.8rem;
}

.big-fontsize {
  font-size: 4rem;
}

.intermediate-fontsize {
  font-size: 3rem;
}

.normal-fontsize {
  font-size: 2.3rem;
}

.normal-fontsize-spec {
  font-size: 3.6vh;
}

@-moz-document url-prefix() {
  .normal-fontsize-spec {
    font-size: 3.4vh;
  }
}

.standard-fontsize {
  font-size: 1.7rem;
}

.medium-fontsize {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.title {
  padding: 1.5rem 2.2rem 1.5rem 1rem;
}

.paragraph {
  padding: 1.5rem 2rem 1.5rem 2rem;
  line-height: 2.8rem;
}

#left-tag-symbol {
  margin-top: 1rem;
  transform: rotate(-8deg);
}

#right-tag-symbol {
  margin: 0.4rem 0 0 -0.3rem;
  transform: rotate(12deg);
}

.credits {
  padding: 0.2rem 0.6rem 0.5rem 0.2rem;
}

.bubble-container {
  height: 14vh;
  padding-right: 50vh;
}

.bubble-text {
  margin-bottom: 1.5vh;
}

.penguin-container {
  padding-right: 1.5vh;
  height: 57vh;
}

.extra-bubbles {
  height: 20vh;
}

.bubble4 {
  margin-right: 11vh;
}

.bubble5 {
  margin-right: 7vh;
}

.penguin-thinking {
  width: 45vh;
}

.social-media {
  height: 50vh;
}

.social {
  filter: drop-shadow(0.65vh 0.65vh 0 white);
}

.social:hover {
  opacity: 0.7;
}

.facebook {
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

.github {
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.instagram {
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

.twitter {
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.linkedin {
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.kofi {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.error-title {
  padding-bottom: 0.2rem;
}

.error-line {
  margin-right: 0.5rem;
  padding-top: 0.2rem;
}
