/* https://yarduon.com */
.social-media,
.bubble2,
.bubble4,
.bubble5 {
  z-index: 2;
}

.bubble-container,
.bubble-text {
  z-index: 4;
}

.penguin-thinking,
.social-media {
  bottom: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.credits {
  right: 0;
}

.bubble1 {
  bottom: -10vh;
  right: 9vh;
}

.bubble2 {
  bottom: -17vh;
  right: -26vh;
}

.bubble3 {
  bottom: -15vh;
  right: -56vh;
}

.twitter {
  bottom: 45vh;
  left: 4vh;
}

.linkedin {
  bottom: 30vh;
  left: 19vh;
}

.kofi {
  bottom: 12vh;
  left: 28vh;
}

.facebook {
  bottom: 38vh;
  left: -27vh;
}

.github {
  bottom: 23vh;
  left: -32vh;
}

.instagram {
  bottom: 11vh;
  left: -38.5vh;
}

.penguin-thinking {
  z-index: 1;
}
