/* https://yarduon.com */
@media screen and (max-width: 1400px) {
  .normal-fontsize-spec {
    font-size: 2.9vh;
  }

  @-moz-document url-prefix() {
    .normal-fontsize-spec {
      font-size: 2.7vh;
    }
  }
  .bubble-text {
    width: auto;
    text-align: justify;
  }
}

@media screen and (max-width: 1100px) {
  .huge-fontsize {
    font-size: 3.8rem;
  }

  .big-fontsize {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .huge-fontsize {
    font-size: 2.3rem;
  }

  .big-fontsize {
    font-size: 1.8rem;
  }

  #left-tag-symbol {
    margin-top: 0.5rem;
  }

  #right-tag-symbol {
    margin: 0.2rem 0 0 -0.1rem;
  }
}

@media screen and (max-width: 350px) {
  .hidden-z {
    display: none;
  }

  .title {
    padding-right: 1rem;
  }

  .paragraph,
  .credits {
    padding: 3% 5% 3% 5%;
  }

  .credits {
    position: static;
  }
}

/* Under construction screen */
@media screen and (max-width: 130vh) {
  .bubble-container {
    height: 25vh;
    padding-right: 0;
  }

  .bubble-text {
    top: 7.5vh;
  }

  .bubble1 {
    right: 14vh;
  }

  .bubble3 {
    right: -64vh;
  }

  .extra-bubbles {
    top: -6.5vh;
    height: 25vh;
  }

  .bubble4 {
    margin-right: 0;
  }

  .bubble5 {
    margin-left: 10.5vh;
  }

  .social {
    width: 9vh;
    height: 9vh;
  }

  .twitter {
    bottom: 35vh;
    left: 9vh;
  }

  .linkedin {
    bottom: 24vh;
    left: 19vh;
  }

  .kofi {
    bottom: 13vh;
    left: 25vh;
  }

  .facebook {
    bottom: 37vh;
    left: -19vh;
  }

  .github {
    bottom: 24.5vh;
    left: -28vh;
  }

  .instagram {
    bottom: 14vh;
    left: -33vh;
  }

  .penguin-thinking {
    width: 42vh;
  }
}

@media screen and (max-width: 75vh) {
  .bubble4,
  .bubble5 {
    margin: 0;
  }

  .kofi,
  .twitter {
    left: 12vh;
  }

  @-moz-document url-prefix() {
    .orange-border {
      border: 1vh solid #f0a85dff;
    }
  }

  .medium-circle {
    width: 9vh;
    height: 9vh;
  }

  .small-circle {
    width: 5vh;
    height: 5vh;
  }

  .bubble-container {
    height: 45vh;
  }

  .bubble-text {
    top: 9vh;
    padding: 0vh 2.5vh 0 2.5vh;
  }

  .bubble1 {
    right: -10vh;
  }

  .bubble2 {
    right: -43vh;
  }

  .bubble3 {
    right: -85vh;
  }

  .penguin-container {
    padding-right: 0;
  }

  .social {
    width: 6vh;
    height: 6vh;
  }

  .twitter {
    left: 13vh;
    bottom: 37vh;
  }

  .linkedin {
    bottom: 29vh;
    left: 8vh;
  }

  .kofi {
    bottom: 21vh;
    left: 14vh;
  }

  .facebook {
    bottom: 38vh;
    left: -20vh;
  }

  .github {
    bottom: 27.5vh;
    left: -15vh;
  }

  .instagram {
    bottom: 21.5vh;
    left: -20vh;
  }

  .penguin-thinking {
    width: 32vh;
  }

  .extra-bubbles {
    top: -1.5vh;
    height: 18vh;
  }
}
